* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: 100%;
}

#app {
  display: flex;
  height: 100vh;
  width: 100vh;
}
