* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: 100%;
}

#app {
  display: flex;
  height: 100vh;
  width: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #979797;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(115, 164, 255);
  /* border-radius: 999px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(79, 140, 255, 0.8);
}
