#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  width: 320px;
  height: 100%;
  background: rgba(var(--bg-panel-trans), 0.7);
  backdrop-filter: blur(6px);
  border: 1px solid var(--border);
  border-radius: 5px;
  z-index: 10;

  display: flex;
  flex-direction: column;
}

#sidebar h1 {
  padding: 16px;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border);
}

#sidebar .sidebar-container {
  background-color: var(--bg-panel);
  border: 1px solid var(--border);
  padding: 0px 10px 10px 10px;
}

#sidebar .sidebar-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.sidebar-content p {
  border: 1px red solid;
  padding: 100px;
}

.sidebar-content h2 {
  padding: 16px;
  font-size: 1.2rem;
}
