#sidebar {
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  width: 320px;
  background: rgba(235, 235, 235, 0.6); /*var(--bg-panel); */
  backdrop-filter: blur(6px);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

#sidebar h1 {
  padding: 16px;
  user-select: none;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border);
}

#sidebar h2 {
  user-select: none;
  padding: 16px 16px 16px 4px;
  font-size: 1.2rem;
}

#sidebar p {
  user-select: none;
  /* overflow-x: scroll; */
  background-color: var(--bg-panel);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 10px;
}

#sidebar-resizer {
  position: absolute;
  top: 0;
  right: -12px;
  width: 12px;
  height: 100%;
  cursor: ew-resize;
  background: transparent;
}

#sidebar .sidebar-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
