* {
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: 100%;
}

#app {
  display: flex;
  height: 100vh;
  width: 100vh;
}

#links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  user-select: none;
}

#links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

#links li {
  display: inline-block;
  margin: 0;
  padding: 4px 4px;
  background: transparent;

  color: rgba(0, 0, 0, 0.4);
}

#links .linkable-text {
  cursor: pointer;
  transition: all 0.3s ease;
}

#links .linkable-text:hover {
  transform: translateY(-2px);
  color: rgb(52, 123, 255);
}

#tooltip {
  position: absolute;
  user-select: none;
  /* right: 50%; */
  /* bottom: 50%; */
  padding: 2px 8px;
  background: rgba(230, 230, 230, 0.5);
  backdrop-filter: blur(6px);
  border: 1px solid var(--border);
  color: var(--text-main);
  border-radius: var(--border-radius);
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #979797;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(115, 164, 255);
  /* border-radius: 999px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(79, 140, 255, 0.8);
}
