#map-window {
  background: transparent;
  background-color: #fbfbfb;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
  cursor: grab;
}

#map:active {
  cursor: grabbing;
}

#map-i {
  z-index: 999;
  position: relative;
  scale: 0.7;
}

#map-i polygon {
  fill: transparent;
}

.map-pin {
  transition: all 0.4s ease;
  opacity: 0;
}

.map-pin-outer {
  fill: #ff0000;
}

.map-pin-inner {
  fill: #fff;
}
