#map-window {
  background: transparent;
  background-color: #fbfbfb;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
  cursor: grab;
}

#map:active {
  cursor: grabbing;
}

#map-i {
  z-index: 999;
  position: relative;
  scale: 0.7;
}

#map-i polygon {
  cursor: pointer;
  fill: transparent;
}

.map-pin {
  cursor: pointer;
  opacity: 0;
  color: #ff0000;

  transition:
    opacity 0.4s ease,
    transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.map-pin:hover {
  transform: translateY(-3px);
}

.pin-blue {
  color: #008cff;
}
