#sidebar {
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  width: 320px;
  background: rgba(235, 235, 235, 0.35); /*var(--bg-panel); */
  backdrop-filter: blur(6px);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

#sidebar h1 {
  padding: 16px;
  user-select: none;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border);
}

#sidebar h2 {
  user-select: none;
  border: none;
  padding: 16px 16px 16px 4px;
  font-size: 1.2rem;
}

#sidebar p {
  user-select: none;
  /* overflow-x: scroll; */
  background-color: var(--bg-panel);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: 15px;
}

#sidebar-resizer {
  position: absolute;
  top: 0;
  right: -12px;
  width: 12px;
  height: 100%;
  cursor: ew-resize;
  background: transparent;
}

#sidebar #sidebar-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

#sidebar button {
  text-decoration: none;
  display: block;
  margin: 0 auto 10px auto;
  padding: 4px 32px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  transition: all 0.2s ease;
}

#sidebar button:hover {
  transform: translateY(-3px);
}

#sidebar button#sidebar-back {
  position: absolute;
  /* top: 75px; */
  /* left: 10px; */
  top: 8px;
  right: 10px;
  margin: 0;
  z-index: 20;
  padding: 16px 15px;
  transition: all 0.15s ease;
}

#sidebar button#sidebar-back:hover {
  transform: scaleX(5px);
}

.location-list {
  text-align: center;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.location-list a {
  color: #1f87cc;
  transition: all 0.2s ease;
}

.location-list a:hover {
  color: #216ea1;
  text-decoration: underline;
}
/* 
.location-list a::before {
  content: ">";
  opacity: 0;
  margin-right: 2px;
  transition: opacity 0.2s ease;
}

.location-list a:hover::before {
  opacity: 1;
} */
